<% form_tag(import_feeds_path, :method => :post) do %>
  <fieldset>
  	<legend>Import Feeds</legend>
  	<p>
  	  This form allows you to import multiple feeds. 
  	  The feeds will not be collected, you can either wait until the nightly collection does it, 
  	  or manually collect the feeds from the <%= link_to 'Feeds', feeds_path %> page. 
  	  Sorting by time updated is a good way to find feeds that need collecting.
  	</p>
  	<p>
  		<label for="feed_urls">Feed URLs (one per line)</label><br/>
  		<%= text_area_tag 'feed[urls]', @urls, :rows => 30, :cols => 50, :id => 'feed_urls' %>
  	</p>
  	<p>
  		<%= submit_tag 'Add Feeds' %>
  	</p>
  </fieldset>
<% end -%>