<table class="veerle">
  <thead>
    <tr>
      <th><%= t("collector.collection_error.error_type") %></th>
      <th><%= t("collector.collection_error.message") %></th>
      <th><%= t("collector.collection_error.created_on") %></th>
    </tr>
  </thead>
  <tbody id="collection_errors">
    <%= render :partial => 'collection_errors/collection_error', :collection => collection_errors %>
  </tbody>
</table>