<table class="data_table">
  <tr>
    <th style="width: 15em">Error type</th>
    <th>Message</th>
    <th class="date">Created on</th>
  </tr>
  <%= render :partial => 'collection_errors/collection_error', :collection => collection_errors %>
</table>