<table class="veerle">
  <tr>
    <th>Error type</th>
    <th>Message</th>
    <th>Created on</th>
  </tr>
  <%= render :partial => 'collection_errors/collection_error', :collection => collection_errors %>
</table>