<table class="veerle">
  <thead>
    <tr>
      <th>Error type</th>
      <th>Message</th>
      <th>Created on</th>
    </tr>
  </thead>
  <tbody id="collection_errors">
    <%= render :partial => 'collection_errors/collection_error', :collection => collection_errors %>
  </tbody>
</table>