<table class="data_table">
  <tr>
	<th>Feed</th>
    <th style="width: 15em">Error type</th>
    <th>Message</th>
    <th class="date">Created on</th>
  </tr>
  
  <%= render :partial => 'collection_errors/collection_error_with_feed', :collection => collection_errors %>

</table>