<tr class="<%= cycle("odd", "even") %>">
  <td><%=h collection_error.error_type %></td>
  <td><%=h collection_error.error_message %></td>
  <td class="date"><%=format_date collection_error.created_on %></td>
</tr>