<p>
  <b>Error type:</b>
  <%=h @collection_error.error_type %>
</p>

<p>
  <b>Message:</b>
  <%=h @collection_error.error_message %>
</p>

<p>
  <b>Feed:</b>
  <%=h @collection_error.feed_id %>
</p>

<p>
  <b>Created on:</b>
  <%=h @collection_error.created_on %>
</p>

<%= link_to 'Back', feed_collection_errors_path %>