<table class="veerle">
  <tr>
    <th>Feed</th>
    <th>URL</th>
    <th>Successful?</th>
    <th>Collected?</th>
    <th>Scraper Used</th>
    <th>Fetched At</th>
    <th></th>
  </tr>
  <%= render :partial => 'spiders/spider_result', :collection => spider_results %>
</table>
