<p>Result for <%= link_to params[:url], params[:url] %></p>
<% if @result.failed? -%>
  <p>Could not spider content. Probably don't have a scraper for that site type.</p>
<% else -%>
  <p>Site was spidered using the "<%= @result.scraper %>" scraper.</p>
  <div style="margin: 15px; background-color: #eee; padding: 10px; border: 1px solid grey;">
    <%= @result.scraped_content %>
  </div>
<% end -%>