<p>Result for <%= link_to params[:url], params[:url] %></p>
<% if @result.failed? -%>
  <p><%= t("collector.spider.result_negative") %></p>
<% else -%>
  <p><%= t("collector.spider.result_positive", :scraper => @result.scraper) %></p>
  <div style="margin: 15px; background-color: #eee; padding: 10px; border: 1px solid grey;">
    <%= @result.scraped_content %>
  </div>
<% end -%>