<table class="data_table">
  <tr>
    <th style="width: 10em">Created by</th>
		<th class="message">Items</th>
		<th>Response Code</th>
		<th>Etag</th>
		<th>Last Modified</th>
		<th>User</th>
		<th>System</th>
		<th>Real</th>
    <th class="date">Created</th>
    <th class="date">Started</th>
    <th class="date">Completed</th>
	<th class="control_icons">&nbsp;</th>
  </tr>
  
  <%= render :partial => 'collection_jobs/collection_job', :collection => collection_jobs %>
</table>