html {
	height: 100%;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: white;
}

h1, h2, h3, p {
  margin-left:  10px;
  margin-right: 10px;
}

pre {
  margin-left: 25px;
  margin-right: 25px;
}

h2 {
  font-size: 16px;
}

div.fieldWithErrors {
  margin-left:10px;
  margin-right:10px;
}

.fieldWithErrors input{
  border: 2px solid red;
  background-color: yellow;
}

.fieldWithErrors label{
  color: red;
}

#errorExplanation {
  width: 275px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-right: 1em;
  background-color: #f0f0f0;
  float: right;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#login_box {
	background-color: #D0EEFF;
	padding: 5px 9px 9px 9px;
	float: right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#login_form fieldset {
	background-color: #D0EEFF;
	border: none;
	width: 400px;
	float: right;
	margin-right: 50px;
}

#login_form fieldset label {
	width: 150px;
}

#page_title {
	background-color: #D0EEFF;
	padding: 5px 9px 9px 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-transform: capitalize;
}

#error_message {
	background-color: #D32;
	color: white;
	padding: 3px;
	font-size: 90%;
	overflow: hidden;
	white-space: nowrap;
}

#flash {
	min-height: 2.5em;
	margin: 7px;
	clear: both;
	padding-top: 5px;
}

a#close_flash {
  position: absolute;
  right: 0px;
  top: 7px;
}

img.flash_icon {
  margin-right: 5px;
  vertical-align: bottom;
}

#notice, #warning, #error {
	padding: 5px;
	position: relative;
}

#notice {
  background-color: #F0FFE0;
  border: 1px solid #A0DC11;
}

#warning {
  background-color: #FBF6D3;
  border: 1px solid #D28D37;
} 

#error {
  background-color: #FDDFD7;
  border: 1px solid #FF260B;
}

a { color: #2c50e8; text-decoration: none; }
a:hover {text-decoration: underline;}
.control_bar a:hover, .navbar a:hover {text-decoration: none; background-color: #D0EEFF; }
a:visited { color: #2c50e8; }
a.disabled {color: #888; cursor: default;}
a:hover.disabled {color: #888; background-color: transparent; text-decoration: none;}
a img, img.blank, .control_bar span.current img, .navbar span.current img {
  border: 0; 
  vertical-align: bottom; 
  margin-left: 3px; 
  margin-right: 5px;
}
.feed_icon {margin-right: 5px;}

.navbar a, .navbar span {
  display: block;
  float: left;
  padding: 4px;
  background-color: #D0EEFF;
  margin: 0px 2px;
}

.navbar span.current {
  color: white;
  background-color:  #2c50e8;
}

.control_bar a, .control_bar span.current {
	padding: 3px 3px;
	border: 1px solid #9aafe5;
}

.control_bar span.current {
  background-color: #9aafe5;
  color: white;
}

.control_bar {
  margin: 15px 10px;
}

.pagination {
  margin-top: 15px;
}

.pagination a, .pagination span {
  padding: 1px 2px;
}

span.current_page {
  border: 1px solid #9aafe5;
  background-color: #9aafe5;
  color: white;
}

/* remove form padding */
form {
	margin: 0px;
}


input.readonly {
	border-top:  1px solid black;
	border-left:  1px;
	border-right:  0px;
	border-bottom:  0px;
}

fieldset {
	margin-top: 10px;
	width:  700px;
	border: none;
	border-top: 1px solid #999;
}

fieldset legend {
	font-weight: bold;
}

fieldset p {
	clear:  both;
}

fieldset label {
	float: left;
	text-align:  right;
	margin-right: 10px;
	width: 100px;
	text-transform: capitalize;
}

tr.collection_job.failed td {
  background-color: pink;  
}

a.bookmarklet {
  background-color:#EBEBEB;
  color:#565656;
  font-size:8pt;
  font-weight:700;
  padding:4px 8px;
}

a.bookmarklet:hover {
  text-decoration: none;
}