<div class="navbar">
	<%= tab_link(image_tag('feed.png') +  "All Feeds", feeds_path)  %>
	<%= tab_link(image_tag('feed_error.png') + "Problem Feeds", with_recent_errors_feeds_path) %>
	<%= tab_link(image_tag('feed_error.png') + "Duplicate Feeds", duplicates_feeds_path) %>
	<%= tab_link(image_tag('history.png') + "Collection History", collection_summaries_path) %>
	<%= tab_link("Item Cache", item_caches_path) %>	
	<%= tab_link("Spider Results", spiders_path) %>	
	<%= tab_link("Scraper Statistics", scraper_stats_spiders_path) %>	
	<%= tab_link("Spider Testing Tool", test_spiders_path) %>	
</div>