development:
  adapter: mysql
  encoding: utf8
  database: collector_development
  username: root
  password:
  host: localhost

test:
  adapter: mysql
  encoding: utf8
  database: collector_test
  username: root
  password:
  host: localhost

production:
  adapter: mysql
  encoding: utf8
  database: collector_production
  username: root
  password: 
  host: localhost
