development:
  adapter: mysql
  database: collector_development
  host: localhost
  username: root
  password: 
	  
test:
  adapter: mysql
  database: collector_test
  host: localhost
  username: root
  password:

production:
  adapter: mysql
  database: collector_production
  host: localhost
  username: root
  password: 
