<% content_for :header_controls do -%>
  <div class="toolbar right">
    <%= rounded_button_link 'New Item Cache', new_item_cache_path, :icon => "add" %>
  </div>
<% end -%>

<%= render :partial => "item_cache", :collection => @item_caches %>
