<% content_for :body, "login" %>

<% content_for :head do -%>
  <% javascript_tag do -%>
    document.observe("dom:loaded", function() {
      $('login_form').down('input#login').focus();
    });
  <% end -%>
<% end -%>

<div class="container">
  <div class="welcome">
    <h2>Welcome to Winnow Collector</h2>

    <p>
      This version of Winnow Collector is only tested in the  <a href="http://www.getfirefox.com" target="_blank">Firefox</a> Web Browser, 
      as such things may not work correctly in other browsers.
    </p>
  </div>
  
  <%= render :partial => "login" %>
</div>