<% content_for :body, "login" %>

<% content_for :head do -%>
  <% javascript_tag do -%>
    document.observe("dom:loaded", function() {
      $('login_form').down('input#login').focus();
    });
  <% end -%>
<% end -%>

<div class="container">
  <div class="welcome">
    <h2><%= t("collector.login.welcome_header") %></h2>

    <p><%= t("collector.login.welcome_text") %></p>
  </div>
  
  <%= render :partial => "login" %>
</div>